extends ../layout

block content
  .container
    .row
      .col-sm-10
        h1 This is the questionnaires list
      .col-sm-2
        a.btn.btn-primary(href='/questionnaires/create') New
  .container
    .shards-demo.d-flex.justify-content-center
      .row
        .col-sm-4
          .card
            img.card-img-top(src='images/card-1.jpg', alt='Card image cap')
            .card-body
              h4.card-title Sample Card Title
              p.card-text
                | He seems sinking under the evidence could not only grieve and a visit. The father is to bless and placed in his length hid…
              a.btn.btn-primary(href='#') Tell me more →
        .col-sm-4
          .card
            img.card-img-top(src='images/card-2.jpg', alt='Card image cap')
            .card-body
              h4.card-title Sample Card Title
              p.card-text
                | He seems sinking under the evidence could not only grieve and a visit. The father is to bless and placed in his length hid…
              a.btn.btn-primary(href='#') Tell me more →

